  .person *{
    transition: .5s;
  }
  .person *:hover{
    font-size: 40px;
  }
  .person .ha:hover{
    font-size: 1.50rem;
  }
  .links *{
    transition: .3s;
  }
  .bigbox:hover{
    transform: scale(1.05);
  }
  .bigbox:hover .gotext{
    display: unset;
    filter:brightness(1.5);
  }
  .bigbox:hover .boxx{
    filter: blur(1px) brightness(.5);

  }
  .yazis{
    background: #eaeaea;
      background: radial-gradient(
        circle,
        #ffffff 18%,
        #ededed 50%,
        #eaeaea 100%
      );
      background-position: 44% 94%;
      background-size: 100% 250%;
  }
  .dark .yazis{
    background: #1a1a1a;
      background: radial-gradient(
        circle,
        #1f1f1f 18%,
        #1a1a1a 50%,
        #1f1f1f 100%
      );
      background-position: 44% 94%;
      background-size: 100% 250%;
  }